@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

$font-primary: 'Poppins',Arial, sans-serif;

@mixin transition($transition) {
  -moz-transition: all $transition ease;
  -o-transition: all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: all $transition ease;
  transition: all $transition ease;
}

$primary: #ec8f6a;
$secondary: #8bbabb;
$tertiary: #e2c275;
$quarternary: #b96b9f;
body{
	font-family: $font-primary;
	font-size: 15px;
	line-height: 1.8;
	font-weight: normal;
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}
button {
	transition: .3s all ease;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none !important;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-primary;
}


.ftco-section{
	padding: 7em 0;
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}
//HEADING SECTION
.heading-section{
	font-size: 32px;

	small{
		font-size: 16px;
		
	}
}

//BUTTONS
.btn {
	padding: 12px 16px;
	cursor: pointer;
	border-width: 1px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 500;
	-webkit-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
	box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
	overflow: hidden;
	position: relative;
	@include transition(.3s);
	span{
		margin-left: -20px;
		@include transition(.3s);
	}
	&:hover, &:active, &:focus {
		outline: none !important;
		span{
			margin-left: -10px;
		}
	}
	small{
		background: lighten($black,90%);
		padding: 2px 8px;
		color: rgba(0,0,0,.3);
	}
	.icon{
		position: absolute;
		top: 0;
		right: 0;
		width: 45px;
		bottom: 0;
		background: $white;
		i{
			font-size: 20px;
		}
		&.icon-round{
			border-radius: 50%;
		}
	}
	&.btn-tertiary{
		color: $white;
		background: $tertiary;
		border-color: $tertiary;
		&:hover,&:focus{
			border-color: darken($tertiary,10%) !important;
			background: darken($tertiary,10%) !important;
		}
		&.btn-link{
			color: $tertiary;
			background: transparent;
		}
		.icon{
			i{
				color: $tertiary;
			}
		}
	}
	&.btn-outline-tertiary{
		color: $tertiary;
		border-color: $tertiary;
		&:hover, &:focus{
			color: $white;
			background: $tertiary;
		}
	}
	&.btn-white {
		background: $white;
		border-color: $white;
		color: $black;
	}
	&.btn-round{
		@include border-radius(40px);
	}
	&.btn-link{
		border:none;
		box-shadow: none;
		color: $black;
	}
	//SIZE
	&.btn-sm{
		padding: 5px 20px;
		font-size: 12px;
	}
	&.btn-lg{
		padding: 17px 24px;
		font-size: 16px;
	}
	//TWITTER
	&.btn-twitter{
		background: #69b6f0;
		border-color: #69b6f0;
		color: $white;
	}
	&.btn-outline{
		border: 1px solid rgba(0,0,0,.1);
		color: $black;
		background: transparent;
		&:hover{
			color: rgba(0,0,0,.5);
			border-color: rgba(0,0,0,.05);
		}
	}
}

.dropdown{
	.dropdown-menu{
		border: none;
		background: $white;
		-webkit-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
		-moz-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
		box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
		.dropdown-item{
			font-size: 13px;
			color: rgba(0,0,0,.7);
			font-weight: 400;
			i{
				color: rgba(0,0,0,.4);
			}
			&:hover, &:focus{
				background: rgba(0,0,0,.05);
				color: $black;
			}
		}
	}
}